<html>
<head>
    <title>Whatever</title>
    <link href="/css/main.css" rel="stylesheet" media="all"></link>
</head>
<body>
<nav>
    <ul>
        {{ range $page := .Website.Pages }}
            <li><a href="/{{$page.Id}}.html">{{ $page.Meta.Title }}</a></li>
        {{ end }}
    </ul>
</nav>
<header><h1>{{.Document.Meta.Title}}</h1><hr /></header>
<article>
    {{.Contents}}
</article>
</body>
</html>